* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  height: 100vh;
  background-color: #26292f;
}

main {
  /* margin: 10% 20%; */
  /* align-items: center; */
  /* align-content: center; */
  margin: 2% auto;
  width: 350px;
  background-color: #131518;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.info {
  text-align: center;
}
.profile-picture {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.user-name {
  color: #fff;
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 7px;
}
.user-role {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 200;
  color: #e7caaa;
}

.user-email {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 200;
  color: #fefefe;
}

.buttons,
.about {
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-linkedin,
.button-email {
  border: none;
  border-radius: 6px;
  width: 130px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.button-email {
  margin-right: 15px;
  background-color: #ffffff;
  color: #131518;
}

.button-linkedin {
  margin-left: 15px;
  background-color: #0072b1;
  color: #ffffff;
}

.button-email_icon,
.button-linkedin_icon {
  margin-right: 5px;
}

.button-email_email,
.button-linkedin_linkedin {
  margin-left: 5px;
}

.about,
.interest {
  margin: 30px 30px;
}

.about-title,
.interest-title {
  font-size: 17px;
  margin-bottom: 5px;
  color: #ffffff;
}

.about-text,
.interest-text {
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  color: #f1f1f1;
}
